name: Build Fabric Mod

on:
  push:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Install Gradle
        run: sudo apt update && sudo apt install gradle -y

      - name: Build mod
        run: gradle build

      - name: Upload jar
        uses: actions/upload-artifact@v4
        with:
          name: fabric-mod
          path: build/libs/*.jar
